.texts {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    h2 {
        margin: 2rem 0;
        text-transform: uppercase;
    }

    .component_wrapper {
        max-width: 60%;
        margin: 0 auto;
    }

}