.slider_wrapper {
  position: relative;
  padding: 10vh 0 0 0;
  width: 100%;
  max-height: 100vh;
  background-color: #181818;
  display: grid;
  place-content: center;

  h2 {
    margin-left: 3rem;
    font-size: 1rem;
    font-family: monospace;
  }
}

