/* .slider {
  position: relative;
  width: 100svw;
  height: 80svh;
  overflow: hidden;

    @media screen and (min-width: 960px) {
        margin: 20vh auto;
        height: 480px;
        width: calc(100svw - 35%);
  }

    ::-webkit-scrollbar { 
        width: 0;
        height: 0;
    }
  } */
  
  .slide_container {
    position: relative;
    margin: 0 auto;
    width: 100svw;
    height: 80svh;
    overflow: hidden;

    @media screen and (min-width: 960px) {
        height: 480px;
    width: calc(100svw - 35%);
  }

    ::-webkit-scrollbar { 
        width: 0;
        height: 0;
    }  
    display: flex;
    list-style: none;
    overflow: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow-x: scroll; 
  }

  
  .slide {
    position: relative;
    flex: 1 0 100%;
    display: grid;
    place-content: center;
    padding: 0rem;
    scroll-snap-align: start;
    box-shadow: inset 2px 2px 15px 0px #1d1d1d;
    background: linear-gradient( 45deg, #141414, #1f0f05 );

&:hover {
  box-shadow: 0 0 3px 5px #fff, 5px 5px 10px 3px #c2200bd0, -5px -5px 10px 5px #c2200bd0;
  transition: 120ms ease-out;
}
  }
  
  .slide > img {
    max-width: 100svw;
    max-height: 80svh;
    object-fit: cover;
    object-position: center;
  }

  .slide h2 {
    position: absolute;
    top: 2rem;
    left: 3rem;
    padding: 0;
    width: 60%;
    font-size: clamp(1.2rem, 4vw, 2.5rem);
    letter-spacing: 2px;
    line-height: clamp(2rem, 2.5vw, 3.5rem);
    color: white;
    font-family: inherit;
  }

  .slide p {
    width: 100%;
    position: relative;
    z-index: 100;
    bottom: 0;
    right: 1rem;
    text-align: right;
  }

  .slide_arrow {
    margin: 0;
    position: absolute;
    top: 45%;
    bottom: 0;
    z-index: 10;
    width: 56px;
    height: 56px;
    display: grid;
    place-content: center;
    background-color: rgba(41, 122, 118, 0.56);
    border: none;
    font-size: 3rem;
    color: rgb(231, 230, 230);
    transition: background 0.2s ease;
    cursor: pointer;
  }
  
  .slide_arrow:hover,
  .slide_arrow:focus {
    background-color: rgb(23, 221, 221);
  }
  
  .prev_btn {
    left: 2rem;
    padding: 0 0.25rem 0.5rem 0;
    border-radius: 50%;
  }
  
  .next_btn {
    right: 2rem;
     padding: 0 0 0.5rem 0.25rem;
    border-radius: 50%;
  }