.slider {
    margin: 1rem;
    position: relative;
    overflow: hidden;
  }
  
  .slide_container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(100vh - 2rem);    
    display: flex;
    list-style: none;
    overflow: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
   
  }

  ::-webkit-scrollbar { 
    width: 0;
    height: 0;
}
  
  .slide_arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 4rem;
    padding: 0;
    height: 4rem;
    display: flex;
    background-color: rgb(24, 24, 24, 0.560);
    border: none;
    font-size: 3rem;
    color: rgb(231, 230, 230);
    transition: background 0.2s ease;
    cursor: pointer;
  }
  
  .slide_arrow:hover,
  .slide_arrow:focus {
    background-color: rgb(61, 61, 61);
  }
  
  .prev_btn {
    left: 0;
    text-align: center;
    padding-left: 1.5rem;
    border-radius: 50%;
  }
  
  .next_btn {
    right: 0;
    padding-left: 1.5rem;
    border-radius: 50%;
  }
  
  .slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
    display: grid;
    place-content: center;
    padding: 5rem;
    scroll-snap-align: start;
  }
  
  .slide img {
    margin: 0 auto;
    width: 100%;
    height: auto;
  }

  .slide h2 {
    place-self: center;
    text-align: center;
    padding: 1rem 0;
    width: 60%;
    font-size: clamp(1.2rem, 4vw, 2.5rem);
    letter-spacing: 2px;
    line-height: clamp(2rem, 2.5vw, 3.5rem);
    color: white;
    font-family: inherit;
  }

  @media screen and (min-width: 768px) {
    .slide img {
        width: 400px;
    }
  }
  
  footer {
    padding: 1em;
    text-align: center;
    letter-spacing: 2px;
    color: silver;
    background-color: #121212;
  }
  
  footer a {
    color: white;
    text-decoration: none;
  }
  