
.accordion_container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin-top: 10vh;
    display: grid;
    place-content: center;

}

.accordion_wrapper {
    margin: 0 auto;
    width: 600px;
    height: 100%;
    padding: 1rem 2rem;
}
.accordion {
    max-width: 50%;
    margin: 0rem auto 0.5rem;
}

.accordion h1 {
    text-align: center;
}
.accordion button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.accordion button:hover {
    background-color: rgb(230, 230, 230);
    filter: drop-shadow(0 0 4px rgba(0,0,0,0.225));
}

.accordion button .active {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.answer {
    padding: 0.25rem 0.5rem;
    background-color: #282828;
    color: #f8f4f2;
    border-bottom: 5px;
}