.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  gap: 50px;
  overflow: hidden;


    section {
        height: 100vh;
        width: 100%;
        background-color: rgb(25, 90, 95);
        color: black;
        
        border: 2px solid #e74e06;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        Transition: all ease-in 1s;
    }
}
