.animate {
    -webkit-animation-play-state: running;
            animation-play-state: running;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    /* -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); */
            animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.stop {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}

.textSplit {

    span {
        padding: 0 0.25rem;
        color: goldenrod;
        font-weight: 700;
        letter-spacing: 4px;   
    }

    :nth-child(even) {
        color:#f75a11;
    }
}

/* Slide Animations */
.slideInLeft {
    -webkit-animation-name: slideLeft;
    animation-name: slideLeft;	   
    /* -webkit-transform: translateX(50vw);
    -ms-transform: translateX(50vw);
        transform: translateX(50vw); */
        opacity: 0;
}

.slideInLeft:nth-child(odd) {
    -webkit-animation-name: slideLeft;
    animation-name: slideLeft;
}

@-webkit-keyframes slideLeft {
    from {
        -webkit-transform: translateX(50vw);
        transform: translateX(50vw);
        opacity: 1;
}
to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}}

@keyframes slideLeft {
    from {
        -webkit-transform: translateX(50vw);
        transform: translateX(50vw);
        opacity: 1;
}
to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}}
/* ---------------------- */

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}
@-webkit-keyframes fadeInRight {
    from {
    opacity: 0;
    -webkit-transform: translateX(-20rem);
    transform: translateX(-20rem);
}
to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}}
@keyframes fadeInRight {
    from {
    opacity: 0;
    -webkit-transform: translateX(-20rem);
    transform: translateX(-20rem);
}
to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}}


.highlightText:nth-child(odd){  
    padding:0 10px;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #11606e9a), color-stop(50%, transparent));
    background: -o-linear-gradient(left, #088d999a 50%, transparent 50%);
    background: linear-gradient(to right, #07878b9a 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    -webkit-animation-name: highlight;
    animation-name: highlight;

}

@-webkit-keyframes highlight{
0% {
}
100% {
    background-position: left bottom;
}

}

@keyframes highlight{
0% {
}
100% {
    background-position: left bottom;
}

}