.card {
    width: 90%;
    border-radius: 5px;
    margin: 1rem 0;
    padding: 1rem 2rem;
    background: #ff7e5f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    h2 {
        font-size: clamp(1rem, 1vw, 1.5rem);
        color: black;
    }

    @media screen and (min-width: 768px) {
        width: 30vw;
        border-radius: 5px;
        margin: 1rem 0;
        padding: 2rem 4rem;
    }

     p {
        padding-top: 1rem;
        font-size: clamp(0.8rem, 1vw, 1rem);
    }
    
}